.user-dash {
    background-color: var(--bg-color-main);
    margin: 15px auto;
    width: 100%;
}

.username {
    width: fit-content;
    margin: auto;
}
.id {
    width: fit-content;
    margin: auto;
}

.delete-user {
    width: fit-content;
    margin: 10px auto;
}